/* 
 * The URW Bookman fonts were taken from the libgs9-common Debian package
 * and then converted to these formats.
 * 
 * Copyright: 1997,2003,2006, (URW)++ Design & Development
 * License: AGPL-3+ with font exception
 * As a special exception, permission is granted to include this font
 * program in a Postscript or PDF file that consists of a document that
 * contains text to be displayed or printed using this font, regardless of
 * the conditions or license applying to the document itself.
 */

@font-face {
    font-family: 'URW Bookman L';
    src: url('fonts/bookman/URWBookman-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/bookman/URWBookman-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bookman/URWBookman-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'URW Bookman L';
    src: url('fonts/bookman/URWBookman-Demi.eot'); /* IE9 Compat Modes */
    src: url('fonts/bookman/URWBookman-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bookman/URWBookman-Demi.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-Demi.woff') format('woff'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-Demi.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'URW Bookman L';
    src: url('fonts/bookman/URWBookman-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/bookman/URWBookman-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bookman/URWBookman-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'URW Bookman L';
    src: url('fonts/bookman/URWBookman-DemiItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/bookman/URWBookman-DemiItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bookman/URWBookman-DemiItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-DemiItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/bookman/URWBookman-DemiItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
